/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * COMPONENTS
 * #header............The main page header.
 * #footer............The main page footer.
 * buttons..............Button elements.
 *
 * SECTIONS
 *
 * MODIFIER CLASSES
 *
 */


/*------------------------------------*\
  SETTINGS
\*------------------------------------*/

html {

  /* Note colors */
  --color-primary: #3D5A6C;
  --color-note--completed: #419D78;
  --color-note--delete: #e74c3c;

  /* body */
  /* --color-bodyBckg1: #534B52; */
  --color-bodyBckg1: #8f8f8f;
  --color-bodyBckg2: #F1F0EA;

  /* new note section */
  --color-noteBckg1: #3D5A6C;
  --color-noteBckg2: #3D5A6C;


  --color-secondary: #F18701;

}





/*------------------------------------*\
  GENERIC
\*------------------------------------*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/*------------------------------------*\
  BASE
\*------------------------------------*/

body {
  position: relative;
  background-repeat: no-repeat;
  font-family: sans-serif;
  min-height: 100vh;
  /* background-image: radial-gradient(var(--color-bodyBckg2), var(--color-bodyBckg1)); */
  background-color: var(--color-secondary);
}

/* buttons */

.btn {
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-new-note {
  border-radius: 50%;
  padding: 1rem 1.6rem;
  position: fixed;
  z-index: 100;
  top: 1.5rem;
  right: 1.5rem;
  border: 4px solid #fff;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 2rem;
}

.btn-control  {
  width: 40px;
  height: 40px;
}






/*------------------------------------*\
  NOTE FORM
\*------------------------------------*/

.note {
  position: fixed;
  color: #fff;
  background-color: var(--color-primary);
  z-index: 50;
  font-size: 1.8rem;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transition: all 0.8s;
}

[aria-expanded='true'] ~ .note  {
  display: flex;
}

.note__form {
  display: flex;
  flex-direction: column;
}

#note__body {
  font-family: sans-serif;
}

#note__title, #note__body, #note__btn--submit {
  border: none;
  padding: 0.4rem;
  font-size: 1.5rem;
  border: 4px solid var(--color-secondary);
}

#note__btn--submit {
  background-color: var(--color-secondary);
  color: #fff;
  text-transform: uppercase;
}

#note__btn--submit:hover {
  border: 4px solid #fff;
}







/*------------------------------------*\
  TASKS LIST
\*------------------------------------*/


.tasks {
  z-index: 1;
  padding: 6rem 0 3rem 0;
}

.tasks__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.tasks__note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1rem 1.5rem;
  color: #fff;
  text-align: left;
  border: 4px solid #fff;
}

.tasks__note-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.tasks__note-title {
  min-width: 150px;
  flex: 0 1 auto;
  text-transform: uppercase;
  text-align: center;
}

.tasks__note p, .tasks__note h2, .tasks__note-controls {
  padding: 0.5rem;
}

.tasks__note-controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tasks__note-delete {
  background-color: var( --color-note--delete);
  color: #fff;
  font-size: 2rem;
}

.completed {
  background-color: var(--color-note--completed);
  border: none;
  color: rgb(200, 200, 200);;
}

.hidden {
  display: none;
}


/* .tasks__note-delete{
  position: relative;
  top: -32px;
  right: -100px;
} */












/*------------------------------------*\
  MODIFIER CLASSES
\*------------------------------------*/

/* width modifier classes */

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.width-lg {
  max-width: 60rem;
}

.width-md {
  max-width: 40rem;
}

.width-sm {
  max-width: 20rem;
}


/* stack modifier classes */

.stack-lg > * + * {
  margin-top: 3rem;
}

.stack-md > * + * {
  margin-top: 1.2rem; 
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}